@{
	ViewData["Title"] = "Mensajes";

}


<div class="conteiner mt-4">

	<div class="row">
		<h2 class="text-primary">Lista de Mensajes</h2>
	</div>
	<table id="tblMessages" class="table table-bordered table-striped" style="width: 100%">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Email</th>
				<th>Mensaje</th>
				<th>Acciones</th>
		</thead>
	</table>

</div>

@section Scripts {


	<script src="~/js/message.js"></script>
}