@model BlogNET8.Models.Category

@{
	ViewData["Title"] = "Editar Categoría";

}

<form method="POST" asp-action="Edit" style="width: 85%">
	<div asp-validation-summary="All" class="text-danger"> </div>

	<div class="col-10 offset-1 mt-4">
		<div class="form-group row">
			<div class="col-3">
				<label asp-for="Name"></label>
			</div>
			<div class="col-9">
				<input asp-for="Name" class="form-control" placeholder="Ingrese el nombre de la categoría" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
		</div>
		<br />
		<div class="form-group row">
			<div class="col-3">
				<label asp-for="Order"></label>
			</div>
			<div class="col-9">
				<input asp-for="Order" class="form-control" placeholder="Ingrese el orden" />
				<span asp-validation-for="Order" class="text-danger"></span>
			</div>
		</div>
		<br />
		<div class="form-group row">
			<div class="col-8">
				<partial name="_VistaCreateVolver" />
			</div>
		</div>
	</div>
</form>

@*Validación del lado del Cliente*@
@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}