@{
    ViewData["Title"] = "Gracias";
}

<h1 class="text-center mt-4">@ViewData["Title"] por Contactarse</h1>

<div class="row justify-content-center text-center">
    <div class="col-4">
        <img src="~/img/icons8-charla-64.png" alt="Logo Charla" />
    </div>
</div>

<p class="text-center">Nos pondremos en contacto a la brevedad!!</p>

<div class="row justify-content-center text-center">
    <div class="col-auto">
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary from-control">Volver</a>
    </div>
</div>

